@import '../../../assets/css/timeline.scss';
.timeline-img-header {
    background-position: center !important;
    margin-bottom: 10px;
}

body {
    background-size: contain;
}

.img-roles {
    width: 20%;
}

section {
    text-align: center;
}

.roles {
    width: 100%;
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    img {
        cursor: pointer;
    }
}

.rol {
    width: 40%;
}

//TIMELINE
.a2009 {
    background-image: url('../../../assets/images/timeline/2009-inicio-los-payas.jpg') !important;
}

.a2010 {
    background-image: url('../../../assets/images/timeline/2010-intervenciones.jpg') !important;
}

.a2010a {
    background-image: url('../../../assets/images/timeline/2010-ONG.jpg') !important;
}

.a2010b {
    background-image: url('../../../assets/images/timeline/2010-primer-abrazon.jpg') !important;
}

.a2010c {
    background-image: url('../../../assets/images/timeline/2010-chaco-salteno.jpg') !important;
}

.a2012 {
    background-image: url('../../../assets/images/timeline/2012-voluntarios-festival-belen.jpg') !important;
}

.a2014 {
    background-image: url('../../../assets/images/timeline/2014-voluntarios-iquitos.jpg') !important;
}

.a2016 {
    background-image: url('../../../assets/images/timeline/2016-tedx-maga.jpg') !important;
}

.a2017 {
    background-image: url('../../../assets/images/timeline/2017-hospital.jpg') !important;
}

.a2019 {
    background-image: url('../../../assets/images/timeline/2019-reconocimiento-desarrollo-social.jpg') !important;
}

.timeline-item {
    p {
        font-size: 0.8em;
        padding: 2px;
    }
}

.timeline-img-header {
    h2 {
        background-color: #FFF;
        opacity: 0.7;
        padding: 3% !important;
        font-size: 1.5em;
        color: #e12e34;
    }
}

app-modal {
    font-family: 'OpenSans-Regular';
    .titulo {
        width: 30%;
    }
    .modal-header {
        .frase {
            font-family: 'OpenSans-Semibold';
            width: 60%;
            font-size: 1em;
        }
    }
    .imgRol {
        width: 100%;
    }
    .texto {
        font-size: 0.9em;
        line-height: 1.5em;
        padding: 2%;
        -webkit-column-count: 2;
        /* Chrome, Safari, Opera */
        -moz-column-count: 2;
        /* Firefox */
        column-count: 2;
    }
}

@media screen and (max-width: 991px) {
    .timeline-img-header {
        .timeline-content {
            p {
                font-size: small!important;
            }
        }
        h2 {
            font-size: 1.2em;
            text-align-last: center;
        }
    }
    .img-roles {
        width: 50%;
    }
    .roles {
        width: 100%;
        .rol {
            width: 80%;
            padding: 2%;
        }
    }
    app-modal {
        .titulo {
            width: 50%;
            margin: auto!important;
        }
        .frase {
            margin: 5% 0;
            font-size: 1em;
            text-align: center;
        }
        .texto {
            column-count: 1;
        }
    }
}

@media screen and (max-width: 767px) {
    .timeline-item {
        p {
            font-size: small!important;
        }
    }
    .timeline-img-header {
        h2 {
            font-size: 1.3em;
            text-align-last: center;
        }
    }
    .img-roles {
        width: 50%;
    }
    .roles {
        flex-direction: column;
        .rol {
            width: 100%;
            padding: 2%;
        }
    }
    app-modal {
        .titulo {
            width: 70%;
            margin: auto!important;
        }
        .frase {
            margin: 5% 0;
            font-size: 1em;
            text-align: center;
        }
        .texto {
            column-count: 1;
        }
    }
}

@media screen and (max-width: 480px) {
    .timeline-item {
        p {
            font-size: 0.8em;
        }
        h2 {
            font-size: 1em;
            text-align-last: center;
        }
    }
    .img-roles {
        width: 50%;
    }
    .roles {
        flex-direction: column;
        .rol {
            width: 100%;
            padding: 2%;
        }
    }
    app-modal {
        .titulo {
            width: 90%;
            margin: auto!important;
        }
        .frase {
            margin: 8% 0;
            font-size: 0.8em;
            text-align: center;
        }
        .texto {
            column-count: 1;
        }
    }
}