<div>
    <div class="container">
        <app-navbar class="m-5"></app-navbar>
        <!--<header>
            <div class="container text-center">
                <h1>Vertical Timeline</h1>
                <p>Sava Lazic</p>
            </div>
        </header>-->
        <section>
            <h2>{{mensaje}}</h2>
            <img class="img-roles" src="../../../assets/images/nuestros-roles.png" alt="Nuestros roles">

            <div class="roles">
                <img class="rol" (click)="mostrarModal('payasos')" src="../../../assets/images/payasos.jpg" alt="Los payasos" class="rol">
                <img class="rol" (click)="mostrarModal('civiles')" src="../../../assets/images/civiles.jpg" alt="Los civiles" class="rol">
            </div>
        </section>

        <section class="timeline">
            <div class="container">
                <div class="timeline-item">
                    <div class="timeline-img"></div>

                    <div class="timeline-content js--fadeInLeft">
                        <div class="timeline-img-header a2009">
                            <h2>¡Nos conocimos!</h2>
                            <div class="date">2009</div>
                        </div>
                        <p>Comenzamos a agruparnos y a intervenir en el Hospital Interzonal Especializado Materno Infantil Don Victorio Tetamanti.</p>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header a2010">
                            <h2>¡Llegamos!</h2>
                        </div>
                        <div class="date">2010</div>
                        <p>Comenzamos con las Intervenciones los días Viernes en el Hospital Interzonal Materno Infantil de la ciudad de Mar del Plata. Luego sumamos los días sábados.</p>
                    </div>

                </div>
                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header a2010a">
                            <h2>¡Seguimos creciendo!</h2>
                        </div>
                        <div class="date">2010</div>
                        <p>La consolidación legal como ONG, llegó el 30 de junio de 2010. </p>
                    </div>

                </div>
                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header a2010b">
                            <h2>¡Abrazos!</h2>
                        </div>
                        <div class="date">2010</div>
                        <p>Primer ABRAZON. Nació algo que se convirtió en nuestro sello. Una intervención comunitaria en donde salimos a abrazar a la comunidad.</p>
                    </div>

                </div>
                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header a2010c">
                            <h2>Chaco Salteño</h2>
                        </div>
                        <div class="date">2010</div>
                        <p>Durante 15 días viajamos al chaco salteño con aval de la OPS/OMS. Una experiencia increible que marcó los inicios de nuestro grupo.</p>
                    </div>

                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header a2012">
                            <h2>Festival de Belén</h2>
                        </div>
                        <div class="date">2012</div>
                        <p>11 voluntarios viajamos al Festival de Belén 2012.</p>
                    </div>

                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header a2014">
                            <h2>Festival de Belén - Iquitos</h2>
                        </div>
                        <div class="date">2014</div>
                        <p>4 voluntarios representaron a la ONG en Perú Iquitos participando del 9no Festival de Belén organizado por Bola Roja.</p>
                    </div>

                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInLeft">
                        <div class="timeline-img-header a2016">
                            <h2>Charla TedX</h2>
                        </div>
                        <div class="date">2016</div>
                        <p>Dimos una Charla Tedx donde la lic. Magali Sánchez, voluntaria payasa, como oradora reflexiono sobre nuestro trabajo en el hospital.</p>
                        <a class="bnt-more" target="_blank" href="https://www.youtube.com/watch?v=2t_UPjarotc">Miralo ACÁ</a>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header a2017">
                            <h2>¡Somos agentes de salud!</h2>
                        </div>
                        <div class="date">2017</div>
                        <p>En el marco de la ley provincial que regula la incorporación de un payaso a las instituciones hospitalarias, los voluntarios de ONG Los Payas somos reconocidos como agentes de salud por la dirección ejecutiva del HIEMI.</p>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header a2019">
                            <h2>¡Seguimos siendo reconocidos!</h2>
                        </div>
                        <div class="date">2019</div>
                        <p>Recibimos un diploma de reconocimiento por el Fortalecimiento de Desarrollo Social de la Provincia de Buenos Aires.</p>
                    </div>
                </div>
            </div>
        </section>



        <app-modal [visible]='mostrarRol' (mostrar)="resultado($event)">
            <img class="titulo" src="{{ rol.imgTitulo }}" alt="{{ rol.nombre}}">
            <i class="frase">{{ rol.frase }}</i>
            <img class="imgRol" src="{{ rol.imgRol }}" alt="{{ rol.nombre}}">
            <p class="texto" [innerHTML]=rol.texto></p>
        </app-modal>
        <app-footer></app-footer>
    </div>
</div>