.galeria {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    margin: auto;
    article {
        width: 30%;
    }
}

.card {
    border-radius: 10px;
    animation: fadeInDown 2s;
    margin: 2%;
    outline: none;
    .card-title {
        text-align: center;
        font-family: 'OpenSans-Semibold';
    }
    .wrapper {
        position: relative;
        overflow: hidden;
    }
    .wrapper:after {
        content: '';
        display: block;
        padding-top: 100%;
    }
    .wrapper img,
    iframe {
        width: auto;
        height: 100%;
        max-width: none;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    img:hover {
        animation: zoom 2s;
    }
}

@keyframes zoom {
    to {
        height: 120%;
    }
}

.modal {
    background-color: rgba(#000000, 0.3);
    display: inline-block;
    font-family: 'OpenSans-Regular';
    .container {
        width: max-content;
        background-color: #FFF;
        align-items: center;
        text-align: center;
        overflow-y: scroll;
        height: 100%;
        img {
            padding: 2%;
            width: auto;
            max-width: 800px;
            max-height: 700px;
            vertical-align: middle;
        }
        span {
            float: right;
        }
        span:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 991px) {
    .modal {
        .container {
            .imgRol {
                width: 100%;
            }
        }
    }
    .galeria {
        width: 90%;
        margin: auto;
        justify-content: space-between;
        article {
            width: 50%;
        }
        .card-body {
            padding: 0.5em;
        }
        .card-title {
            font-size: 1.2em;
            font-family: 'OpenSans-Semibold';
        }
    }
    section {
        text-align-last: center;
    }
}


/* Móviles en horizontal o tablets en vertical */

@media (max-width: 767px) {
    .galeria {
        width: 90%;
        margin: auto;
        justify-content: space-between;
        article {
            width: 50%;
        }
        .card-body {
            padding: 0.5em;
        }
        .card-title {
            font-size: 0.8em;
            font-family: 'OpenSans-Semibold';
        }
    }
    section {
        text-align-last: center;
    }
}


/* Móviles en vertical */

@media screen and (max-width: 480px) {
    .galeria {
        width: 80%;
        margin: auto;
        .card-body {
            padding: 0.5em;
        }
        .card-title {
            font-size: 0.8em;
            font-family: 'OpenSans-Semibold';
        }
    }
    .header {
        flex-direction: column;
        align-items: center;
        .img-eventos {
            width: 70%;
        }
        p {
            font-size: 1em;
            width: 100%;
            margin: 20%;
            text-align: center;
        }
    }
    section {
        text-align-last: center;
    }
    .modal {
        .container {
            width: 80%;
            img {
                width: 100%;
            }
        }
    }
}