<div class="container">
    <section class="galeria">
        <article *ngFor="let img of imagenes">
            <div class="card" [routerLink]="img.url ? img.url : null">
                <div class="card-body">
                    <h5 class="card-title">{{img.titulo}}</h5>
                    <div class="wrapper" *ngIf="imagen">
                        <img (click)="mostrarImagen(img.urlImagen)" [src]="img.urlImagen" alt="Variete" class="card-img-top img-fluid">
                    </div>
                    <div class="wrapper" *ngIf="!imagen">
                        <iframe width="100%" height="90%" *ngIf="!imagen" [src]="img.urlImagen | domseguro" frameborder="0" allow="fullscreen"></iframe>
                    </div>


                </div>
            </div>
        </article>
    </section>
    <div class="modal" *ngIf="visible">
        <div class="container fadeInDown">
            <span (click)="salida()">x</span>
            <img [src]="urlImagen" class="imgRol" alt="">
        </div>
    </div>
</div>