.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    background-color: #FFF;
    margin: 5px auto;
    justify-content: center;
    .links {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: baseline;
        padding: 5px;
        width: 81%;
        margin: auto;
        p {
            font-family: 'OpenSans-Semibold';
        }
        .redes-sociales {
            width: 100%;
            align-items: baseline;
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            img {
                width: 60%;
                margin: 0px 2px;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
    a {
        color: #000;
        font-family: 'OpenSans-Regular';
        img {
            width: 60%;
        }
    }
    a:hover {
        text-decoration: none;
    }
}

@media screen and (max-width:991px) {
    .footer {
        margin-top: 5%;
        width: 100%;
        .links {
            width: 90%;
            .redes-sociales {
                align-items: center;
                flex-wrap: nowrap;
            }
            p {
                width: 60%;
                font-size: 1em;
                margin-bottom: 0;
            }
        }
        a {
            font-size: 0.8em;
            img {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .footer {
        margin-top: 5%;
        width: 100%;
        .links {
            width: 100%;
            p {
                width: 75%;
                font-size: 0.9em;
                margin-bottom: 0;
            }
            .redes-sociales {
                width: 90%;
                align-items: center;
                padding: 5px;
                margin: auto;
                img {
                    width: 70%;
                    margin: 0px 2px;
                }
            }
        }
        a {
            font-size: 0.8em;
            img {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .footer {
        width: 100%;
        .links {
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            .redes-sociales {
                align-items: center;
                width: 100%;
            }
            p {
                width: 100%;
                font-size: 0.8em;
            }
        }
        a {
            font-size: 0.8em;
            img {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width:320px) {
    .footer {
        width: 100%;
        .links {
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            p {
                width: 100%;
                font-size: 0.8em;
            }
            .redes-sociales {
                align-items: center;
                img {
                    width: 90%;
                }
            }
        }
        a {
            margin-top: 4%;
            font-size: 0.8em;
            img {
                width: 50%;
            }
        }
    }
}