<div class="footer">
    <div class="links">


        <div class="redes-sociales">
            <p>SUMATE a la Comunidad Paya:</p>
            <a href="https://www.instagram.com/lospayasmdp/"><img src="../../../assets/images/icons/instagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/ONG-Los-Payas-176067652553487/"><img src="../../../assets/images/icons/facebook.png" alt="Facebook"></a>
            <a href="https://www.youtube.com/channel/UCh0ymrRWAAnMo1q0AR0dwiA"><img src="../../../assets/images/icons/youtube.png" alt="YouTube"></a>
            <a [routerLink]="['/contacto']">CONTACTO</a>
        </div>

    </div>

</div>