<div class="navbar">


</div>

<nav class="navbar nav navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="../../../assets/images/logo.png" alt="ONG Los Payas" class="logo">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="nav justify-content-end">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/home']">¡HOLA!</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/conocenos']">CONOCENOS</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/eventos']">EVENTOS</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/ayudanos']">AYUDANOS</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/contacto']" routerLinkActive="router-link-active">CONTACTO</a>
            </li>
        </ul>
    </div>
</nav>