.active {
    background-image: url('../../../assets/images/img_active.png');
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 4px;
    background-size: 80% 20%;
}

a {
    color: #000;
    font-family: 'OpenSans-Regular';
}

.nav {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
}

@media screen and (max-width:991px) {
    .navbar-collapse {
        ul {
            display: flex;
            flex-direction: column;
            align-content: center;
            li {
                width: 40%;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .nav {
        width: 80%;
        margin-top: 5%;
        font-size: smaller;
        .navbar-collapse {
            ul {
                li {
                    width: 80%;
                    text-align: center;
                }
            }
        }
    }
}