.containerCarousel {
    width: 90%;
    margin: 0 auto;
}

.footer-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #FFF;
    p {
        width: 35%;
        margin-top: auto;
        font-family: 'OpenSans-Regular';
    }
}

.carousel-item {
    .imagen {
        z-index: 1;
    }
    .btn {
        position: absolute;
        top: 75%;
        right: 5%;
        width: 30%;
    }
    .small {
        right: 8%;
        width: 25%;
    }
}

@media screen and (max-width:990px) {
    .containerCarousel {
        width: 100%;
    }
    .footer-slider {}
}

@media screen and (max-width:480px) {
    .containerCarousel {
        width: 100%;
    }
    .footer-slider {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        p {
            font-size: 0.8em;
            width: 100%;
        }
        bottom: 0;
    }
}