<div class="containerCarousel animated fadeIn">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item fadeInRight" [ngClass]="{'active': i === 0}" *ngFor="let img of imagenes; let i=index" data-interval="5000">
                <img [src]="img" class="d-block w-100 imagen" alt="Payasos">
                <a *ngIf="mostrarBtnAyuda" [routerLink]="['/ayudanos']"><img src="../../../assets/images/btn_payas_titeres.png" class="btn"></a>
            </div>

        </div>

        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="footer-slider p-3">
    <p>La primer Ong de Clown Comunitario y Hospitalario de la ciudad de Mar del Plata.</p>
    <p>Integramos la ONG, socios voluntarios con formación, conocimiento y entrenamiento en la técnica del Clown</p>
</div>