.modal {
    padding: 5%;
    background-color: rgba(#000000, 0.3);
    position: fixed;
    display: table;
    font-family: 'OpenSans-Regular';
    height: 100%;
    .container {
        overflow: scroll;
        height: 500px;
        .header {
            display: flex;
            flex-direction: row;
            padding: 5%;
            text-align: right;
            .titulo {
                width: 30%;
            }
            .frase {
                font-family: 'OpenSans-Semibold';
                width: 60%;
                font-size: 1em;
            }
        }
        width: 60%;
        background-color: #FFF;
        align-items: center;
        img {
            width: 60%;
        }
        span {
            float: right;
        }
        span:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width:990px) {
    .container {
        flex-direction: column;
        width: 90%!important;
        .header {
            flex-direction: column;
            flex-wrap: wrap;
            .titulo {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width:720px) {
    .container {
        flex-direction: column;
        width: 90%!important;
        .header {
            flex-direction: column;
            flex-wrap: wrap;
            .titulo {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width:420px) {
    .container {
        flex-direction: column;
        width: 90%!important;
        .header {
            flex-direction: column;
            flex-wrap: wrap;
            .titulo {
                width: 90%;
            }
        }
    }
}