<div class="modal" *ngIf="visible">
    <div class="container fadeInDown">
        <span (click)="salida()">x</span>
        <div class="header">
            <ng-content class="titulo" select=".titulo"></ng-content>
            <ng-content class="frase" select=".frase"></ng-content>
        </div>
        <ng-content select=".imgRol"></ng-content>
        <ng-content select=".texto"></ng-content>
    </div>
</div>