<div class="contacto">
    <form method=post autocomplete="off" (ngSubmit)="enviarMail()" [formGroup]="form">
        <div class="form-group">
            <label for="nombre">Nombre: </label>
            <input type="text" class="form-control" id="name" [(ngModel)]="contact.name" formControlName="name" placeholder="Ingrese su nombre" minlength="5">
        </div>
        <div class="form-group">
            <label for="apellido">Apellido: </label>
            <input type="text" class="form-control" id="apellido" [(ngModel)]="contact.apellido" formControlName="apellido" placeholder="ingrese su apellido">
        </div>
        <div class="form-group">
            <label for="apellido">Email: </label>
            <input type="text" class="form-control" id="email" [(ngModel)]="contact.email" formControlName="email" placeholder="info@example.com">
        </div>
        <div class="form-group">
            <label for="Consulta">Asunto</label>
            <input class="form-control" id="asunto" [(ngModel)]="contact.asunto" formControlName="asunto" placeholder="Ingrese el asunto" />
        </div>
        <div class="form-group">
            <label for="Consulta">Consulta</label>
            <textarea class="form-control" id="consulta" rows="5" [(ngModel)]="contact.consulta" formControlName="consulta"></textarea>
        </div>
        <button type="submit"><img src="../../../assets/images/btn_consulta.png" class="btn_enviar" /></button>

    </form>
</div>