.contacto {
    align-self: center;
    padding: 7%;
    background-color: #f9e079;
    margin: auto;
}

form {
    button {
        border: none;
        background: none;
        border-style: none;
    }
    .btn_enviar {
        background-size: contain;
        background-repeat: no-repeat;
        list-style-type: none;
        width: 70%;
    }
    .btn_enviar:hover {
        cursor: pointer;
    }
    button:active,
    button::before,
    button:visited {
        border: none;
    }
}

@media screen and (max-width: 480px) {
    .btn_enviar {
        float: right;
    }
}