<div class="p-3">
    <div class="container">
        <app-navbar></app-navbar>
        <div id="donar">
            <iframe id="frame" [src]="urlDonar | domseguro" width="90%" height="700">
            </iframe>
        </div>
        <app-footer></app-footer>
    </div>
</div>