<div>
    <div class="container">
        <app-navbar class="m-3"></app-navbar>
        <div class="header">
            <div class="paya">
                <label for="">Contáctanos</label>
                <img src="../../../assets/images/paya.png" alt="ONG Los Pyas">
            </div>
            <p>Si querés invitarnos a que participemos de una intervención comunitaria. O si tenes alguna duda o pregunta, escribinos.</p>
        </div>
        <div class="contacto">
            <app-formulario></app-formulario>

            <img class="payasos" src="../../../assets/images/lola_pastafrola.png" alt="Lola Castana y Pastafrola" />
        </div>
        <!--<div class="sumate">
            <img src="../../../assets/images/sumate.png" alt="Sumate a nuestra comunidad">
            <p>Enterate de todas nuestras novedades en Facebook e Instagram Mirá nuestros videos en YouTube</p>


            <div class="links">
                <a href="https://www.instagram.com/lospayasmdp/"><img src="../../../assets/images/icons/instagram.png" alt="Instagram"></a>
                <a href="https://www.facebook.com/ONG-Los-Payas-176067652553487/"><img src="../../../assets/images/icons/facebook.png" alt="Facebook"></a>
                <a href="https://www.youtube.com/channel/UCh0ymrRWAAnMo1q0AR0dwiA"><img src="../../../assets/images/icons/youtube.png" alt="YouTube"></a>
            </div>
        </div>-->
    </div>
    <app-footer></app-footer>
</div>