body {
    background-size: contain;
}

.container {
    font-family: 'OpenSans-Regular';
}

.header {
    margin: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
        width: 40%;
    }
    .paya {
        label {
            padding: 5%;
            font-family: 'OpenSans-Semibold';
            font-size: x-large;
            background-image: url('../../../assets/images/img_active.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position-y: center;
            height: max-content;
        }
        img {
            width: 15%;
        }
    }
}

.sumate {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'OpenSans-Regular';
    margin-top: 2.8%;
    img {
        padding: 3%;
        width: 30%;
    }
    p {
        margin: 2% 4%;
        width: 35%;
        color: #FFF;
    }
}

.links {
    margin: 2% 0;
    img {
        width: 25%;
        margin: 0 4%;
        border: 1px solid #FFF;
        border-radius: 50%;
    }
}

.fondo {
    width: 100%;
    height: 100px;
}

.comunidad {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 5%;
    .payasos {
        width: 75%;
    }
}

.contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            width: 100%;
        }
        .paya {
            text-align: center;
        }
    }
    .btn_enviar {}
    .sumate {
        width: 100%;
        flex-direction: column;
        align-items: center;
        img {
            width: 60%;
        }
        p {
            width: 90%;
        }
        .links {
            flex-direction: row;
            img {
                width: 25%;
            }
        }
    }
    .contacto {
        img {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .payasos {
        display: none;
    }
    .sumate {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            width: 100%;
        }
    }
}