body {
    background-size: contain;
}

.header {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin: 3%;
    .img-eventos {
        width: 20%;
        left: 0;
    }
    p {
        font-family: 'OpenSans-Regular';
        width: 40%;
        font-size: 1.1em;
    }
}

.videos-destacados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10% 0;
    padding: 5%;
    div {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    img {
        width: 75%;
    }
}

@media screen and (max-width: 991px) {
    .header {
        flex-direction: column;
        align-items: center;
        .img-eventos {
            width: 30%;
        }
        p {
            font-size: 1em;
            width: 90%;
            margin: 7% auto;
            text-align: center;
        }
    }
}

@media screen and (max-width: 767px) {
    .videos-destacados {
        flex-direction: column;
        div {
            margin-bottom: 5%;
        }
        img {
            width: 60%;
        }
    }
    .header {
        flex-direction: column;
        align-items: center;
        .img-eventos {
            width: 30%;
        }
        p {
            font-size: 1em;
            width: 90%;
            margin: 7% auto;
            text-align: center;
        }
    }
    .videos-destacados {
        img {
            width: 80%;
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: center;
        .img-eventos {
            width: 30%;
        }
        p {
            font-size: 0.8em;
            width: 90%;
            margin: 7% auto;
            text-align: center;
        }
    }
    .videos-destacados {
        img {
            width: 70%;
        }
    }
}