<div class="container">
    <app-navbar class="m-3"></app-navbar>
    <div class="header">
        <img class="img-eventos" src="../../../assets/images/titulo_eventos_payas.png" alt="Eventos de Los Pyas">
        <p>Te mostramos una selección de imágenes de los mejores eventos que hicimos en estos años.</p>
    </div>
    <app-galeria [imagen]='true' [imagenes]=eventos></app-galeria>
    <section class="videos-destacados">
        <div>
            <img src="../../../assets/images/btn_charla_tedx.png" alt="ONG Los Payas">
            <a class="bnt-more" target="_blank" href="https://www.youtube.com/watch?v=2t_UPjarotc">
                <img src="../../../assets/images/timeline/2016-tedx-maga.jpg" alt="TedX Magali Sanchez">
            </a>
        </div>

        <div>
            <img src="../../../assets/images/documental-paya.png" alt="ONG Los Payas">
            <a class="bnt-more" target="_blank" href="https://www.youtube.com/watch?v=g8YwtJ9vyGE">
                <img src="../../../assets/images/clownferencia.jpg" alt="ONG Los Payas - Clownferencia - 2018">
            </a>
        </div>
    </section>
    <app-footer></app-footer>
</div>