/* You can add global styles to this file, and also import other style files */

@import 'assets/css/animate.css';
body {
    background-image: url('assets/images/fondo1.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'OpenSans-Regular';
    line-height: normal;
}