body {
    background-size: contain;
}

h3 {
    text-align: center;
    margin: 5% 0;
}

.videos-destacados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    article {
        width: 90%;
    }
}