<app-navbar></app-navbar>
<h3>Fotos</h3>
<app-galeria [imagen]='true' [imagenes]=imagenes></app-galeria>
<h3 *ngIf="videos.lenght > 0">Videos</h3>
<section class="videos-destacados">
    <article *ngFor="let video of videos">
        <div class="card" [routerLink]="video.url ? video.url : null">
            <div class="card-body">
                <h5 class="card-title">{{video.titulo}}</h5>
                <iframe width="100%" height="400" *ngIf="!imagen" [src]="video.urlImagen | domseguro" frameborder="0" allow="fullscreen"></iframe>
            </div>
        </div>
    </article>
</section>
<app-footer></app-footer>